.navbar.navbar-light.fixed-top.navbar-expand-lg(style="background-color:#efefef")
  .container
    a.navbar-brand(href='/')
      img.site-logo(src='/img/thecube.png')
      | Cube365
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.nav-item(class=(title === 'Home') ? 'active' : undefined)
          .dropdown
            .button.dropbtn COMMUNITIES
              .dropdown-content
                a.nav-link(href="/communities/tech") Tech
                a.nav-link(href="/communities/politics") Politics
                a.nav-link(href="/communities/world") World
                a.nav-link(href="/communities/currentaffairs") Current Affairs
        li.nav-item(class=(title === 'MyPost') ? 'active' : undefined)
          a.nav-link(href='/mypost') My Post
        li.nav-item(class=(title === 'Contact') ? 'active' : undefined)
          a.nav-link(href='/contact') Contact
      form.searchForm.ml-auto(action="/search", method="post" style="border:solid 1px;border-radius:2px")
        span
          input.searchInput(type="text" id="search_value" style = "border:0px" name="search_value" value="search in posts")
          i.fa.fa-search.searchBtn(type="submit")
      ul.nav.navbar-nav
        if !user
          li.nav-item(class=(title === 'Login') ? 'active' : undefined)
            a.nav-link(href='/login') Login
          li.nav-item(class=(title === 'Create Account') ? 'active' : undefined)
            a.nav-link(href='/signup') Create Account
        else
          li.dropdown(class=(title === 'Account Management') ? 'active' : undefined).nav-item
            a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture)
              else
                img(src=user.gravatar(60))
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu
              li.dropdown-item
                a(href='/account') My Account
              li.divider.dropdown-item
              li.dropdown-item
                a(href='/logout') Logout
